body{
    font-family: Arial, sans-serif;
}

.Teacher-form{
    padding: 30px 10px;
    background-color: #fff;
    width: 360px;
    text-align: center;
    display: block;
    margin: 130px auto;
    margin-bottom: 50px;
    border-radius: 10px;
}

.form-heading{
    margin: 0px;
    font-size: 30px;
}

.input-box{
    margin: 15px;
    width: 300px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
}

.btn{
    background-color: #061437;
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    background-color: #4c6bc7;
    color: #fff;
}

 .input-box:active,.input-box:focus{
    outline: none;
 }